@import 'rupture'
@import "variable/_function.styl"
@import "variable/_fonts.styl"
@import "variable/_ie.styl"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/config/_color.styl"
@import "variable/config/_typography.styl"
@import "variable/config/_btn.styl"
@import "variable/config/_input.styl"
@import "../module/**/*"

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em

.hidden-block
	position: relative
	height: 0
	z-index 3
	opacity:0
	left -9999px
	transform translateY(-20px)
	margin: 0
	padding: 0



.main-cont
	center(1250px,10px)

.header
	position: relative
.header-top-wrap
	+below(1024px)
		display none
	background: #f5f5f5
//.main-cont
.header-top
	f()
	align-items: center
	height: 60px
.logo
	+below(1024px)
		width: 200px
	+below(768px)
		width: 110px
	margin-right: 5%
	max-width 150px
.header-location
	+below(1024px)
		display: none
	margin-right: 5%
	f()
	align-items center
.header-info
	f()
	cp()
	align-items: center
	margin-right: 5%
	.divider
		color $snow
		@extend .type--md
		font-weight 600
		display: inline-block
		margin: 0 5px
.header-info__icon
	margin-right: 10px
	flex(mid)
	.icon
		size 20px
		fill #b1b3b4

.header-info__val
	white-space nowrap
	color $dark
	@extend .type--md
	font-weight 600
.header-info__text
	@extend .type--sm
	color #b1b3b4
	font-weight 500
	white-space nowrap
.header-contact
	+below(768px)
		display: none
	f()
	align-items center
.header-auth
	+below(1024px)
		display: none
	f()
	align-items: center
	margin-left: auto
	margin-right: 100px
	.icon
		margin-right: 10px
		size 20px
		fill $mark
.header-auth--true
	.header-auth-state--false
		display: block
	.header-auth-state--true
		display: none
.header-auth-state--false
	display: none
	position: relative
	span
		font-weight: 500
		border-bg()
.header-auth-state--true
	cp()
	span
		tr(all)
		color $gray
		&:hover
			color black
.header-auth__bonus
	position: absolute
	padding: 4px 8px
	background: $mark
	top -10px
	right: -50%
	font-weight: 700
	line-height: 1
	flex(mid)
	font-size: 10px
	color white
	br(10px)
	font-weight: 700
	span
		display: inline-block
//
.slide-header-auth
	color white
	flex(mid)
	.icon
		margin-right: 10px
		size 20px
		fill $mark
.slide-header-auth--true
	.slide-header-auth-state--false
		f()
	.slide-header-auth-state--true
		display: none
.slide-header-auth-state--false
	display: none
	position: relative
	span
		color white
		font-weight: 500
		display: block

.slide-header-auth-state--true
	cp()
	span
		tr(all)
		color $gray
		link(#f5f5f5)
		&:hover
			color black
.slide-header-auth__bonus
	padding: 3px 8px
	br(20px)
	background: $mark
	font-weight: 500
	line-height: 1
	flex(mid)
	margin-left: 20px
	span
		color $dark
		display: inline-block
		//margin-top: -3px
		white-space nowrap
//
.slide-header-location
	flex(mid)
	fl()

.slide-header-info
	f()
	cp()
	align-items: center
	margin-right: 5%
	margin-bottom: 10px
	.divider
		color $snow
		@extend .type--md
		font-weight 600
		display: inline-block
		margin: 0 5px
.slide-header-info__icon
	margin-right: 10px
	flex(mid)
	.icon
		size 20px
		fill $mark
.slide-header-info__val
	white-space nowrap
	color white
	@extend .type--md
	font-weight 600
	a
		color white
		display: block
		margin-bottom: 5px
.slide-header-info__text
	color $gray
	@extend .type--sm
	font-weight 500
.slide-header-contact
	flex(mid)
	fl()
//

//
.header-menu-wrap
	border-top 1px solid $border-color
	border-bottom 1px solid $border-color
	//padding: 10px 0
	position: relative
	.header-contact
		margin-left: 30px
		display none
.header-menu
	align-items: center
	//padding: 10px 0
	f()
.header-nav
	align-items: center
	f()
	margin-left auto
.header-nav__el
	color #b1b3b4
	margin-right: 20px
	border-bg()
	tr()
	&:hover
		color $dark!important
.header-nav--add
	.header-nav__el
		color $gray
.cart-wrap
	+below(1024px)
		margin-left auto
		padding: 5px 0
	f()
	cp()
	align-items: center
	height: 100%
	.icon--close
		display: none
	position relative
	padding: 10px 0
.cart-cost
	margin-right: 20px
	color $brown
	@extend .type--main
	font-weight 600
.cart
	+below(768px)
		size 45px
	position: relative
	size 50px
	flex(mid)
	round()
	border 2px solid $mark
	.icon
		size 28px
		fill $mark

.cart-link
	position absolute
	width: 100%
	height: 100%
	top 0
	left 0
	z-index 10
	display none

.cart-val
	position: absolute
	top 50%
	left 50%
	color $brown
	@extend .type--sm
	font-weight 600
	transform translateY(-50%) translateX(-50%)
	margin-top: 4px

// basket




@keyframes bounceIn {
	from {
			transform: scale3d(1, 1, 1);
	}

	50% {
			transform: scale3d(1.05, 1.05, 1.05);
	}
	to {
			transform: scale3d(1, 1, 1);
	}
	//
	//from {
  //  opacity: 0;
  //  transform: translate3d(0, -100%, 0);
  //}
	//
  //to {
  //  opacity: 1;
  //  transform: none;
  //}
}

.bounceIn
	animation-name: bounceIn

.basket-wrap
	+below(1024px)
		display none
	width: 350px
	position: absolute
	left: -9999px
	top 100%
	background: white
	z-index 100
	opacity:0
	box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
	//display: none
	border-top:1px solid #e6e6e6
	transition opacity .6s
	margin-top: -1px
	br(10px)

.bounce-show
	animation:  bounceIn  .3s 1 ease-in-out
	//display: block!important
	transition opacity .6s
	left initial
	opacity: 1
	right: 0
.basket
	padding: 20px 0

.basket-wrap-coner
	+below(768px)
		right: 19px
	position: absolute
	top -7px
	size 16px
	background white
	right: 17px
	transform rotate(45deg)
	border-top:1px solid #e6e6e6
	border-left:1px solid #e6e6e6


.basket__el
	+below(768px)
		fw()
		flex(mid)
		fl()
		position: relative
	display flex!important
	flex(between)
	padding: 15px 20px
	outline none!important

.basket__descr
	font-size: 12px
	line-height: 1.4

.basket-container
	max-height: calc(70vh - 200px)
	position relative
	overflow hidden
	margin-right: 3px
	margin-top: 3px
.basket-list
	position relative
	&:before
		content ''
		position absolute
		width: 100%
		height: 35px
		bottom 0
		left 0
		background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
		z-index 10
.basket__img
	+below(768px)
		margin-right: 0
		height: 100px
		width: 100px
	size 70px
	br(5px)
	bg-full()
	background-size: contain
	margin-right: 20px

.basket__ingr
	/*+below(768px)
		flex(mid)
		margin-left:initial
		margin-bottom: 20px*/
	f()
	display: none
	margin-left: auto

.basket__ingr-el
	bg-full()
	margin-right: 20px
	size 40px
	background-size: contain

.basket__name
	font-weight: 700
	font-size: 14px
	margin-bottom: 5px
	display block
	f()

.basket__name-text
	+below(768px)
		font-size: 20px
		margin-bottom: 20px
		text-align: center
	@extend .type--lg
	font-weight 600
	color $dark
	tr()
	display block
	&:hover
		color $mark
.basket__adds
	+below(768px)
		width: 100%
		text-align center
.basket__adds-el
	+below(768px)
		margin-bottom: 10px
		text-align: center

	cp()
	margin-top: 5px
	display: inline-block
	margin-right: 5px

//.basket__inc
.basket__price
	+below(768px)
		margin-top: 20px
		font-size: 20px
	color $dark
	font-weight 600
	font-size: 14px
	white-space nowrap

.basket__delete
	margin-left: auto
	.icon
		cp()
		tr(all)
		size 16px
		fill black
		&:hover
			fill $mark

.basket__el-info
	f()
	align-items: flex-start

.basket__cont
	width calc(100% - 90px)

.basket__el-change
	flex(between)

.basket-footer
	+below(768px)
		flex(mid)
		fl()
	f()
	align-items: center
	margin-top: 30px

.basket-total__text
	font-size: 15px
	margin-right: 20px

.basket-total
	margin: 0 20px
	padding-top: 20px
	border-top 1px solid $border-color
	width: 100%
.basket-total-false
	color #959595
	font-family Roboto
	font-size 15px
	font-weight 400
	text-decoration line-through

.basket-total-row
	flex(between)
	margin-bottom: 10px
	font-size: 14px
	font-weight: 700

.basket-total-true
	color red

	font-size 30px
	font-weight 900

.basket-promo
	+below(768px)
		margin-bottom: 20px
.promo
	f()
	flex-wrap nowrap
.promo-input
	+below(640px)
		max-width 150px
	padding: 12px 20px
	background: white
	border-right: 0
	margin-bottom: 0
	border-bottom 1px solid $gray

.promo-get
	padding: 15px 20px
	margin-left: 10px

.basket-get
	+below(768px)
		margin-left: initial
		margin-bottom: 20px
		fl()
		.btn--md
			width: 100%
			margin-bottom: 10px
	margin-left: auto

.header-cart--open
	.icon--close
		display: block
		size 15px
	.icon--open
		display: none
	.cart-val
		display: none

	.cart-link
		display block

.incr
	f()
	height 40px
	position relative
	width 160px

.incr--small
	width: 80px
	.incr__nav
		size 26px
		.icon
			size 10px
	.incr__val
		width: 25px
		font-size: 12px
		font-weight: 700

.incr__nav
	flex(mid)
	tr(background )
	round()
	size 40px
	border 1px solid #dddddd
	background white
	.icon
		size 14px
		fill #b3b3b3
	&:hover
		cp()
		border-color $mark
		.icon
			fill $mark
	&:active
		background-color $mark-light
.incr__val
	flex(mid)
	background white
	size 50px 40px
	font-size 20px
	position relative
	tr(all)
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none

.incr--cheese
	.incr__nav
		border 0
		border-radius 0
		background: none!important
		.icon
			size 40px
	.incr__plus
		.icon
			fill $mark
	.incr__minus
		.icon
			fill $gray
//increment-end

.header__sub-arrow
	+below(1024px)
		display none
	flex(mid)
	cp()
	.icon
		size 20px

.header__sub-arrow-wrap
	flex(mid)

.basket-clear
	+below(768px)
		margin-right: 0
	margin-right: 20px

.basket-empty
	flex(mid)
	fl()
	padding: 20px
.basket-empty-img
	margin-bottom: 20px
.basket-empty__title
	text-align: center
	@extend .type--lg
	margin-bottom: 10px
	font-weight: 700
.basket-empty__text
	text-align: center

@keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

.shrinkUp
	position fixed!important
	top 0
	left 0
	background white!important
	width 100%
	margin 0
	z-index 9999
	transform translateY(-100%)!important
	transition all 1s

.shrink
	position fixed!important
	top 0
	left 0
	width 100%
	margin 0
	z-index 999
	animation:  slideInDown  1s 1 ease-in-out;
	.header-info__callback
		color white
	.header-main__logo
		+below(768px)
			width: 40px
		width: 70px
	.header-menu-wrap
		background: white
		.logo
			display: block
	.header-top-wrap
		display: none
	.header-nav--add
		display: none
// basket === end

.main-slider
	+below(760px)
		display: none
	.slick-dots
		+below(640px)
			bottom 10px
		bottom 20px
.main-slider__el--lg
	+below(640px)
		display: none
.main-slider__el--sm
	display: block
	+above(641px)
		display: none
.slick-dots
	width: 100%
	bottom -40px
	.dot
			background: white
			size 12px
			display: block
			br(3px)
			border 1px solid #e7e7e7
	.slick-active
			.dot
				border 1px solid transparent
				background: $mark

.main-slider__el
	+below(640px)
		display: none
	bg-full()
	padding: 14% 5%

.promo-wrap
	flex(mid)

//slide menu
.head-toggle
	flex(mid)
	cp()

	margin-right: 10px
	+above(1025px)
		display: none
	.icon
		size 25px
		fill black
	.icon-close
		display: none

.head-toggle--open
	.icon-close
		display: block
	.icon-open
		display: none

.slide-menu
	+above(1025px)
		display: none !important
	+below(786px)
		height: calc(100% - 55px)
		top 55px
	+below(480px)
		width: 100%
	background: $dark
	position: fixed
	height: calc(100% - 60px) //Отступ хедер
	z-index 1250
	top 60px
	left 0
	width: 320px
	transform translateX(-110%)
	tr(all)
.slide-menu--open
	transform translateX(0%)
	overflow-y: auto
.slide-menu__list-el
	display: block
	margin-bottom: 30px
	color white
	font-size: 16px
	text-align: center
	tr(all)
	&:hover
		color $mark
	&:last-child
		margin-bottom: 0
.body-fix
	position: fixed!important
	overflow-Y: scroll!important
	width:100%!important

.cart-wrap--mobile
	+above(1025px)
		display: none
.cart-wrap--desctop
	+below(1024px)
		display: none

.slide-row
	padding: 40px 10px
	border-bottom 1px solid #35373e
//slide menu  === end

.consist
	+below(768px)
		display: none
	flex(between)
	margin-bottom: 30px
.consist__el
	flex(between)
.consist__el-icon
	margin-right: 20px
	.icon
		size 40px
		fill $mark


// PRODUCT
.product-el
	background-color #ffffff
	tr(all)
	position: relative
	f()
	fl()
	animation-duration: .8s
	animation-fill-mode: both
	animation-timing-function: ease-in-out
	animation-iteration-count: 1
	transform: translateZ(20px)

.product-label
	+below(480px)
		padding: 10px 15px
		font-size: 12px
	flex(mid)
	tr(all)
	cp()
	padding: 5px 10px
	br(20px)
	display: inline-block
	color white
	font-size: 14px
	font-weight 700
	transform translateY(6px)
	position: absolute
	top:0
	left 0
	z-index 10
	background: $mark

.product-label--red
	background: $red
.product-label--black
	background: black

.product-label--day
	color #e5352d

.product-el--sm
	.product-footer
		flex(mid)
		fl()
	.product-price
		width: 100%
		text-align: center
		margin-bottom: 20px
	.product-add
		width: initial
	.product__title
		text-align: center
.product-el--hover
	.product__title
		color $mark
	.product__img-el
		transform scale(0.96)

.product__img
	margin-bottom: 20px
	flex(mid)
	img
		margin: 0 auto
		tr(all)
		width: 100%

.product__cont

	f()
	fl()
	flex-grow 1

.product__img-el
	+below(640px)
		padding: 35% 10%
	tr(all)
	width: 100%
	height: 100%
	bg-full()
	background-size: contain
	padding: 50% 10%

.product__title
	margin-bottom: 20px
	color $dark
	tr(all)
	@extend .type--lg
	font-weight 600
	display: block

.product__text
	+below(1024px)
		opacity:1!important
		left initial!important
		height: auto !important
		transform translateY(0)!important
		margin: 15px 0!important
	margin: 0 auto
	opacity .8
	margin-bottom: auto
	line-height: 1.6
	tr()
.product-cont
	+below(1024px)
		grid-template-columns: repeat(3, 1fr)
		margin: 30px 0
	+below(640px)
		grid-template-columns: repeat(2, 1fr)
	+below(480px)
		grid-template-columns: 1fr
	//flex(between)
	margin: 70px 0
	display: grid
	grid-row-gap 50px
	grid-column-gap 30px
	grid-template-columns: repeat(4, 1fr)
	overflow: hidden
.product-cont--five
	+below(1024px)
		grid-template-columns: repeat(4, 1fr)
		margin: 30px 0
	+below(640px)
		grid-template-columns: repeat(3, 1fr)
	+below(480px)
		grid-template-columns: 1fr 1fr
	grid-template-columns: repeat(5, 1fr)

.product-back__title
	@extend .type--lg
	up()

	padding: 40px 0
	text-align: center
	position: relative

.product-back__arrow
	flex(mid)
	round()
	position: absolute
	size 44px
	background: white
	left: 50%
	top 100%
	margin-left: -22px
	margin-top: -22px
	.icon
		size: 22px
		margin-top: 9px

.product-info
	+below(768px)
		padding: 30px 10px
	background: red
	padding: 30px
	padding-top: 45px
	margin-bottom: 30px

.product-type
	flex(between)
	margin-bottom: 20px
//.product-thin

//.product-fat

.product-type__el
	flex(mid)
	width: 45%
	cp()
	&:hover
		.product-type__name
			opacity 1
		.product-type__icon
			.icon
				opacity 1

.product-type__icon
	margin-right: 10px
	.icon
		size: 36px
		fill white
		opacity .6


.product-type__name
	font-size: 16px
	opacity .6
	color white
	font-weight:500

.product-type--active
	.product-type__name
		opacity 1
	.product-type__icon
		.icon
			opacity 1

.product-type-condition
	margin-bottom: 20px

.product-type-condition-row
	height: 5px;
	border-radius: 2px;
	background-color: #a70a13;
	position: relative
.product-type-condition-el
	tr(all)
	position: absolute
	height: 100%
	width: 50%
	top 0
	left: 0
	background: $mark
	border-radius: 2px;

.product-size
	flex(between)
	margin: 30px 0

.product-size__el
	round()
	flex(mid)
	fl()
	fw()
	tr(all)
	cp()
	size 60px
	border: 2px solid #ffffff;
	background-color: rgba(252, 202, 3, 0);
	opacity: 0.6;
	&:hover
		opacity: 1
		background: $mark
		border 0
		.product-size__val
			color black
		.product-size__type
			color black

.product-size__el--active
	opacity: 1
	background: $mark
	border 0
	.product-size__val
		color black
	.product-size__type
		color black

.product-size__val
	@extend .type--md
	font-family: "PF Beau Sans Pro";
	color white

.product-size__type
	color white

.product-width
	text-align: center
	color white
	font-size: 18px
	opacity .6

.product-footer
	flex(between)
	margin-top: 20px
.product-price
	+below(1200px)
		font-size: 14px
	+below(1024px)
		font-size: 24px
	+below(640px)
		font-weight: 700
	@extend .type--md
	width: 50%
	background-color #ffffff
	@extend .type--lg
	font-weight 600

.product-get
	+below(1200px)
		font-size: 14px
	+below(768px)
		font-size: 12px
	//display: none
	cp()
	@extend .btn--md
	@extend .btn--light
	padding: 10px 20px


	&:hover
		background: $mark-light

.product-add
	+below(768px)
		font-size: 12px
	cp()
	@extend .type--sm
	tr(all)
	width: 50%
	text-align: center
	@extend .btn--md
	@extend .btn--light
	padding: 5px 20px
	flex(mid)
	height: 40px
	white-space nowrap
	&:hover
		background: $mark

.product-incr
	+below(1200px)
		padding: 8px 5px
		.incr
			height: 30px
		.incr__nav
			size 30px
		.incr__val
			height: 30px
	flex(mid)
	width: 50%
	display: none
	height: 40px
	.incr
		width: auto

.product-footer-numb
	.product-price
		border-right: 0
	.product-incr
		display: flex
	.product-get
		display: none

.product-size-wrap--thin
	display: none

.size-disable
	opacity .2
	pointer-events none
	&:hover
		cursor none

.animate-basket
	animation: bounceIn 0.3s 2 ease-in-out

.size
	display: grid
	grid-gap 10px
	grid-template-columns: repeat(auto-fit, minmax(3rem,1fr))
	margin-top: 5px
.size__el
	+below(480px)
		font-weight:700
	@extend .type--sm
	cp()
	tr()
	padding: 10px
	text-align: center
	border 1px solid $gray
	border-radius 20px
	margin-bottom: 20px
	&:hover
		border-color $mark
.size__el--active
	border-color $mark



.duff
	display: grid
	grid-gap 10px
	grid-template-columns: repeat(auto-fit,minmax(5rem,1fr) )
.duff__el
	+below(480px)
		font-size: 9px
	padding: 10px
	text-align: center
	border-bottom 1px solid $gray
	@extend .type--sm
	cp()
.duff__el--active
	border-bottom 2px solid $mark

// PRODUCT === end

.category
	+below(768px)
		grid-gap 10px
	+below(640px)
		grid-template-columns: 1fr 1fr
	+below(480px)
		grid-template-columns: 1fr
	display: grid
	grid-gap 35px
	grid-template-columns: repeat(3, 1fr)
	margin-bottom: 70px
.category__el
	display: block
	bg-full()
	padding: 30% 10%
	position: relative
.category__el-title
	+below(1024px)
		font-size: 20px
	position: absolute
	width: 100%
	bottom 0
	left 0
	background: #ffffffad
	text-align: center
	padding: 10px
	color $dark
	@extend .type--xl
	font-weight 700


//sale

.sale-wrap
	+below(768px)
		padding: 30px 0
	background: #f5f5f5
	padding: 100px 0

.sale
	+below(760px)
		fw()
	flex(between)
.sale-slider-wrap
	+below(760px)
		width: 100%
		order 2
	width: 50%
//.sale-slider
.sale-slider__el
	bg-full()
	padding: 30% 10%
	br(10px)
.sale-info
	+below(760px)
		width: 100%
		margin-bottom: 30px
		order 1
	width: 42%
.sale-title
	+below(760px)
		margin-top: 0
	@extend .type--xxl
	font-weight 600
	letter-spacing 2.5px
	margin-bottom: 30px
	margin-top: -40px
.sale-text
	opacity 0.7
	line-height: 1.6
//sale ===end

// ===== FOOTER ====
.footer-info-wrap
	+below(1200px)
		padding-bottom: 0
	padding: 50px 0
.footer-info
	+below(1200px)
		grid-template-columns: 1fr
		padding: 0
		margin-left: -10px
		width calc(100% + 20px)
	fw()
	f()
.footer-info__coll
	+below(1200px)
		display: none
	f()
	width: 33%
	justify-content: center
	fl()

.footer-info__coll-deliver
	width: 100%
	margin-bottom: 20px
.footer-info__title
	color $dark
	@extend .type--md
	font-weight 700
	margin-bottom: 10px
.footer-info__text
	+below(1600px)
		font-size: 10px
	line-height: 1.6
	opacity 0.7
	color $dark
	@extend .type--main
	font-weight 400
.footer-info__map
	+below(1200px)
		width: 100%
	flex(mid)
	bg-full()
	cp()
	position: relative
	background: $mark
	padding: 30px
	flex-flow row
	&:hover
		.filter--yellow
			background: rgba(240, 195, 82, 0.65)

.footer-info__map--active
	.filter--yellow
		background: rgba(255, 255, 255, 0.65)!important

.footer-info__map-icon
	z-index 2
	.icon
		margin-right: 20px
		size 40px
.footer-info__map-text
	z-index 2
	color $dark
	@extend .type--md
	font-weight 700
	up()
.filter
	position: absolute
	top 0
	left 0
	width: 100%
	height: 100%

.filter--yellow
	tr(all)
	background: #ffb600a8

.soc-row
	f()
.soc-row__el
	display: flex !important
	align-items: center
	justify-content: center
	tr(all)
	margin-right: 10px
	size 40px
	background: #757674
	&:hover
		background: $mark
	.icon
		size 15px
		fill white
		&:last-child
			margin-right: 0

.create
	+below(1024px)
		width: 50%
	+below(720px)
		width: 100%
		justify-content: space-between
	f()
	align-items: center
	margin-top: 40px
	span
		opacity: .7
		color white
		margin-right: 10px


.footer-wrap
	+below(640px)
		padding: 30px 20px 80px 20px
	background: $dark
	padding: 50px 0
.footer
	+below(1280px)
		fw()

	f()
	justify-content: space-between
	align-items: stretch
.footer-clear
	margin-top: 20px
.footer-comp
	+below(768px)
		width: 50%
	+below(640px)
		width: 1005px
	width: 25%
	a
		color #888987
		display: block
		margin-bottom: 20px
		tr(all)
		&:hover
			color $mark
.get-pay
	+below(720px)
		display: none
.get-pay__title
	margin-bottom: 10px
	margin-top: 30px
	color white
.pay-row
	+below(640px)
		margin-bottom: 0
	f()
	fw()
	align-items: center
	margin-bottom: 50px
.pay-row__el
	margin-right: 20px
	.icon
		+below(640px)
			size 30px
		size 50px
		max-height 40px
		fill #8b8b8b
.copyright
	+below(1280px)
		margin-bottom: 30px
.footer-nav
	+below(768px)
		display: none
	width: 35%
.footer-nav__list
	+below(720px)
		display: none
	column-count 2
.footer-nav__el
	margin-bottom: 20px
	color #888987
	display: block
	tr(all)
	&:hover
		color $mark
.footer-call
	+below(1280px)
		width: 50%
	+below(720px)
		display: none
	width: 25%
.footer-call__title
	@extend .type--md
	font-weight 700
	margin-bottom: 10px
.footer-call__text
	line-height: 1.8
	margin-bottom: 20px
	color #888987
.footer-call__get
	@extend .btn--md
	//@extend .btn--black
.footer-contact
	+below(768px)
		width: 50%
	+below(720px)
		width: 100%
	width: 25%
.footer-phone
	+below(720px)
		font-size: 24px
		margin-bottom: 30px
	display: block
	margin-bottom: 10px
	color white
	@extend .type--lg
	font-weight 600
	tr(all)
	&:hover
		color $mark
.footer-mail
	display: block
	margin-bottom: 30px
	color white
	tr(all)
	&:hover
		color $mark
.footer-company
	color #ffffff
	@extend .type--lg
	font-weight 600
	margin-bottom: 20px
.slick-slider
	position: relative

.footer-map-wrap
	+below(768px)
		min-height 400px
		margin: 0
		margin-left: -10px
		width calc(100% + 20px)
	display: none
	position: relative
	padding: 20% 10%
	margin: 30px 0
.footer-map
	position: absolute
	width: 100%
	height: 100%
	top 0
	left 0
	background: $gray

// ===== FOOTER ====  === end

.fix-soc
	+below(1280px)
		display: none
	position: fixed
	left 10px
	z-index 50
	top 50%
	transform translateY(-50%)
	.soc-row
		fl()
	.soc-row__el
		background: $gray
		margin-bottom: 5px
		&:hover
			background: $mark

.product__add
	size 18px
	display: inline-flex
	align-items: center
	justify-content: center
	font-size: 12px
	background: $mark
	br(2px)
	tr()
	&:hover
		background: darken($mark,10)
	.icon
		size 12px
		fill white

.tooltip
	position:relative
	text-align:left
	cp()
	margin: 0 5px
	&:hover
		.top
			visibility:visible
			opacity:1
	.top
		+below(1200px)
			display: none
		min-width:200px
		top:-10px
		left:50%
		transform:translate(-50%, -100%)
		padding:10px 20px
		background-color:$mark
		position:absolute
		z-index:9999
		box-sizing:border-box
		visibility:hidden
		opacity:0
		transition:opacity 0.8s
		@extend .type--main
		font-weight 700
		line-height: 1.6
		font-size: 12px
		color black
		text-align: center
		br(5px)
		i
			position:absolute
			top:100%
			left:50%
			margin-left:-12px
			width:24px
			height:12px
			overflow:hidden
			&:after
				content:''
				position:absolute
				width:12px
				height:12px
				left:50%
				transform:translate(-50%,-50%) rotate(45deg)
				background-color:$mark
				box-shadow:0 10px 15px rgba(0, 0, 0, 0.09)

.section-title
	@extend .type--xxl
	font-weight 600
	margin-bottom: 40px
	letter-spacing 2.5px
	up()

.section-title-row
	+below(640px)
		fw()
	flex(between)
	margin-bottom: 40px
	.section-title
		margin-bottom: 0
		+below(640px)
			width: 100%
			order 2
	.promo
		+below(640px)
			order 1
			.promo-input
				width: 100%
				max-width initial
			.promo-get
				text-align: center
			margin-bottom: 40px




.content
	+below(768px)
		padding: 30px 0
	padding: 50px 0

// ==== ITEM ====
.card
	+below(768px)
		fw()
		margin-top: 20px
		max-width 480px
		margin-left: auto
		margin-right: auto
	f()
	margin-top: 40px
	justify-content: center
	align-items: center

.card-img
	+below(768px)
		width: 100%
		flex(mid)
		margin-bottom: 20px
	width: 35%

.card-img__el
	+below(768px)
		width: 55%
		padding: 30%
	position: relative
	width: 100%
	padding: 54%
	bg-full()
	cp()
	round()
	overflow hidden

.card-info
	+below(1024px)
		width: 55%
	+below(768px)
		width: 100%
		margin-left: 0
	width: 40%
	margin-left: 10%
	.size__el
		+below(768px)
			font-size: 12px
		font-weight:700
		font-size: 16px
	.duff__el
		+below(768px)
			font-size: 14px
		font-weight:700
		font-size: 16px
	.item-ingr
		margin-top: 30px
		display: block!important
.card__title
	+below(768px)
		text-align: center
		margin-bottom: 20px
		span
			display: block
			text-align: center
			width: 100%
	@extend .type--xl
	f()
	font-weight: 700
	margin-bottom: 20px
	line-height: 1
	.icon
		+below(768px)
			display: none
		&:hover
			fill black
		fill $mark
		tr()
		display block
		size 50px
		margin-right: 30px
		margin-left: -80px
		margin-top: -5px
.card-type
	+below(768px)
		margin-bottom: 20px
	margin-bottom: 50px

.card-type__wrap
	flex(between)
.card-type__el
	flex(mid)
	padding: 10px
	width: 50%
	opacity 0.6
	border:1px solid #c9c9c9
	&:nth-child(1)
		border-radius 40px 0 0 40px
	&:nth-child(2)
		border-radius 0 40px 40px 0
	cp()
	.icon
		size 30px
		margin-right: 10px
		opacity 0.6
.card-type__el--active
	opacity 1
	background: $mark
	border 1px solid $mark
	.icon
		opacity 1

.card-total
	+below(768px)
		fw()
		margin-bottom: 0
	flex(mid)
	margin-bottom: 30px

.card-total__info
	+below(768px)
		margin-right: 0
		width: 100%
		margin-bottom: 20px
	flex(mid)
	@extend .type--md
	font-weight 500
	margin-right: 40px

.card-total__divider
	width: 1px
	height: 20px
	background: #dadada
	margin: 0 15px

.card-descr
	+below(768px)
		max-width: 100%
		text-align center
	line-height: 1.6
	max-width 400px
	margin-bottom: 30px

.card-type__text
	font-weight: 600
// ==== ITEM ==== === end

.title-row
	position: relative
	font-weight: 700
	margin-bottom: 50px
	f()
	fw()
	align-items center
	.icon
		+below(768px)
			size 25px
		+below(640px)
			display: none
		tr(all)
		size 50px
		fill $mark
		&:hover
			fill black
	.title
		margin-bottom: 0
		margin-right: 20px
		margin-top: -5px
.title
	@extend .type--xl
	margin-bottom: 40px
	font-weight: 700
	position relative
	line-height: 1
.title-val
	position absolute
	font-size: 14px
	color $gray
	top -5px
	right: -5px

.title__more
	+below(767px)
		margin-left: 0
	font-size: 12px
	link($gray)
	cp()
	font-weight: 400
	margin-left: 20px
	display: inline
	align-self flex-end

.title-back
	display block
	margin-right: 5%

// ==== ORDER ====
.order
	+below(968px)
		fw()
	f()
	justify-content:space-between
	align-items streth

.order-cont
	+below(960px)
		fw()
	f()
	justify-content space-between
	align-items: flex-start
	margin-bottom: 50px
	width: 100%


.order-info-wrap
	+below(968px)
		width: 100%
		order 1
		flex(mid)
		margin-bottom: 20px
	width: 30%
	order 2

.order-info
	+below(968px)
		width: 60%
	+below(768px)
		width: 100%
	border 1px solid #d3d3d3
	br(10px)
	background: white
	z-index 10!important
.order-item
	+below(960px)
		margin-bottom: 20px
		width: 100%
	width: 65%
	.basket__el-info
		+below(768px)
			width: 100%
		width: 55%
	.basket__el-change
		+below(640px)
			width: 100%
		width: 45%

.order-add
	+below(1024px)
		grid-template-columns: repeat(3, 1fr)
	+below(640px)
		grid-template-columns: repeat(2, 1fr)
	+below(480px)
		grid-template-columns: 1fr
	display: grid
	grid-gap 40px
	grid-template-columns: repeat(4, 1fr)
	margin-bottom: 80px

//.order-info-cont
.order-info-head
	padding: 45px 40px
	color black
	flex(mid)
	fl()
	fw()
	//border-bottom 2px dashed #d3d3d3
.order-total-text
	text-align: center
	margin-bottom: 15px

.order-total-cost

	font-size 30px
	font-weight 900
	text-align: center
	margin-bottom: 30px

.order-total-get

	@extend .btn--lg
	@extend .btn--mark
	padding: 20px
	width: 100%

.order-info-footer
	padding: 45px 40px
	flex(mid)
	fl()
	fw()
	.promo
		margin-bottom: 30px

	.promo-input
		background: none
		color white
.order-how
	tr(all)
	//@extend .link--blue
	text-align: center
	display: block
	text-decoration: underline
	opacity 0.7
	&:hover
		opacity 1

.souse-cont
	f()
	fw()
	margin-bottom: 70px

.item-incr
	+below(1024px)
		margin: 0
		item(3,20px)
		&:nth-child(4)
			margin-right: 20px!important
	+below(640px)
		&:nth-child(4)
			margin-right: 0px!important
		margin: 0!important
		margin-top: -1px !important
		margin-left: -1px !important
		width: 100%
		padding: 15px
	padding: 20px
	padding-bottom: 40px
	border 1px solid #f6f6f6
	item(4,20px)
.item-incr__title
	text-align: center
	margin-bottom: 20px
.item-incr__img
	height: 80px
	bg-full()
	background-size: contain
	margin-bottom: 20px
.item-incr__cost
	text-align: center
	margin-bottom: 20px
//.item-incr__row
.elements-icr-block
	.incr
		flex(mid)
		width: 100%
	width: 100%

.total
	+below(960px)
		width: 100%
	border-radius 20px
	background-color #f5f5f5
	width: calc(30% - 20px)
	margin-left auto
	padding: 20px 25px
.total-row
	flex(between)
	margin-bottom: 20px
.total-row__type
	font-weight: 700
	font-size: 18px
.total-row__val
	font-weight: 700
	font-size: 24px
	white-space nowrap
.total-text
	@extend .type--md
	margin-bottom: 10px
	line-height: 1.6
	font-size: 14px
.total-get
	@extend .btn--md
	@extend .btn--mark
	padding: 20px 50px
	width: 100%
// ==== ORDER ==== === end

// ==== form ====


.order-form
	center(640px,10px)
	textarea
		width: 100%
		margin-bottom: 40px

.radio-cont
	+below(768px)
		fw()
		padding: 10px
		.check-el
			width: 100%
			margin-bottom: 10px
	flex(between)
	padding: 40px 0
	border-bottom:1px solid #dedede
	margin-bottom: 20px


.order-form__tab
	f()
.order-form__tab-el
	+below(768px)
		font-size: 16px
	color #6b6b6b
	font-family Roboto
	font-size 20px
	text-align center
	padding: 20px
	width: 50%
	cp()

.order-form__border
	position: relative
	height 5px
	border-radius 2px
	background-color #e1e1e1
	width: 100%
	overflow hidden
	margin-bottom: 40px

.order-form__border-el
	position: absolute
	border-radius 2px
	height: 100%
	width: 50%
	background: $mark
	tr(all)
	left 0px
	top 0px
	right initial

.order-form__border-el--right
	left 50%

.order-form__tab-container
	display: none


.order-form__tab-container-active
	display: block

.order-form__tab-el--active
	color black

.order-form__town
	+below(768px)
		font-size: 16px
	font-size: 20px
	font-weight: 500
	margin-bottom: 40px
	span
		display: inline-block
		padding: 0
		border-bottom 1px dotted #302c2b
		cp()

.order-form-divider
	height: 1px
	width: 100%
	background: #dedede
	margin: 40px 0

.order-form-promo
	margin: 40px 0

.order-form-inc
	f()
	align-items:center
	margin-bottom: 40px
	.elements-icr-block
		width: auto

.order-form-inc__text
	margin-right: 20px


.order-form-get
	flex(mid)
	margin-bottom: 40px

.nice-select
	br(3px)
	display: block
	color #000000
	font-size 14px
	font-weight 700
	width: 100%
	float none
	.list
		width: calc(100% )
		left 0px
		br(3px)
		border 0px solid $border-color
		border-top 0
		margin-top: 0
		max-height 200px
		overflow-y auto
select.select-beauty
	display: none!important

.element-select
	padding: 20px 0

.nice-select:active, .nice-select.open, .nice-select:focus
	border 1px solid $border-color

.order-form__market
	height: 45px

.title-row-back
	cp()
// ==== form ==== === end

// ==== MODAL ====
.modal-layer
	width: 100%
	height: 100vh
	position: fixed
	z-index 1000
	top 0
	left 0
	visibility: hidden
	transition all 1s // duration for fade
	opacity 0

.modal-layer-show
	visibility: visible
	opacity 1

.modal-cont
	width: 100%
	height: 100%
	position: relative
	max-height 100%
	overflow: auto

.modal-filter
	position: absolute
	top: 0
	left: 0
	background: #18191da1
	width: 100%
	height: 100vh
	min-height 100vh

.modal
	+below(768px)
		width: 95%
		box-shadow 0 0 0
		min-width auto
		margin: 20px auto
	box-shadow 0 2px 4px rgba(0, 0, 0, 0.24)
	transform translateY(-350%)
	position: absolute
	opacity .1
	transition transform .8s, opacity 1s
	max-width 470px
	min-width 400px
	br(10px)
	.order__row
		margin-bottom: 20px
		border-bottom 0
.modal-content
	+below(640px)
		height: 100%
		padding: 40px 20px
		overflow-y scroll
		width: 100%!important
		br(0)
	background: white
	position: relative
	padding: 40px

.modal__show
	max-height 100%
	opacity 1
	transform translateY(0)
	position: relative

.modal-close
	+below(768px)
		top 12px
		right 12px
	position: absolute
	top: 5px
	right: 10px
	cp()
	.icon
		size 16px
		fill black
		opacity:1

.modal-open
	overflow: hidden
	overflow-y: scroll
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%
.modal-wrap
	position: fixed
	width: 100%
	height: 100%
	overflow-y auto
	flex(mid)


.input-cont
	margin-bottom: 20px
	input
		width: 100%

.input-cont--half
	flex(between)
	.input-row
		width: 48%

.input-cont--three
	flex(between)
	.input-row
		width: 32%

.modal-header
	+below(768px)
		padding: 20px
	@extend .type--lg
	background: $mark
	padding: 30px
	text-align: center

.modal-get
	flex(mid)
	//padding: 20px 0
	.btn--lg
		+below(768px)
			width: 100%
		padding: 15px 50px
		width: 70%

.modal--lg
	max-width 1250px
	width: 100%
//.modal-wrap

.modal-foget
	cp()
	margin-bottom: 30px

.modal-account
	cp()
	margin-top: 20px

.modal-town
	flex(mid)
	fl()
	fw()

.modal-town__el
	@extend .type--md
	text-align: center
	margin-bottom: 30px
	font-weight 500
	display: inline-block
	border-bottom: 1px dotted black
	cp()
	&:last-child
		margin-bottom: 0

.modal-content--town
	padding: 50px 0

.modal-ingr-wrap
	+below(768px)
		width: 100%
		padding: 30px 0
	flex(between)
	fw()
	width: 90%
	padding: 30px

.modal--component
	+below(768px)
		width: 100%
		padding: 30px 10px 65px 10px
		width: 100%
	padding: 30px
	max-height calc(100vh)!important
	overflow-y auto


.modal--inrg
	+below(768px)
		width: 100%
		padding: 25px 0 65px 0px
	width: 680px
	.modal-content--inrg
		max-height calc(100vh)!important
		overflow-y auto



.modal-ingr-col
	+below(768px)
		width: 100%
		flex(mid)
		fl()
	width: 32%
	margin-bottom: 20px

.modal-ingr-icon
	+below(768px)
		flex(mid)
	margin-bottom: 20px
	.icon
		size 40px

.modal-ingr__el
	+below(768px)
		width: 80%
	border-radius 20px
	border 1px solid #a9a9a9
	text-align: center
	padding: 10px 15px
	margin-bottom: 10px
	width: 100%
	ellipsis($width = 100%)
	cp()
	tr(all)
	&:hover
		border 1px solid yellow


.input-row
	position: relative

.input-placeholder-val
	+below(768px)
		font-size: 10px
		top: 17px
		left 10px
	tr(all)
	position: absolute
	left 20px
	top 20px
	opacity 0.5

.input-animate
	display: inline-block
	z-index 20
	color black


.input-animate:focus+span,
.input-animate[data-empty="false"] + span
	top 3px
	font-size: 10px

.modal-open
	overflow: hidden
	overflow-x: hidden
	overflow-y: scroll
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100%

.login-remember
	.style-label
		align-items: flex-start
	.sytle-input-text
		font-size: 10px
		color black
		width: calc(100% - 80px)
		line-height: 1.6
		a
			color $mark
	margin-bottom: 30px


.modal-title
	font-weight: 700
	text-align: center


.modal-title-add
	@extend .type--md
	text-align: center
	margin-top: 10px
	margin-bottom: 40px

.modal-title--lg
	@extend .type--lg

//modal ingr
.add-ingr-row
	margin-bottom: 10px
.add-ingr__head
	+below(640px)
		fw()
	f()
	align-items: center
	margin-bottom: 20px
.add-ingr__title
	font-size 24px
	font-weight 700
	color black
	margin-right: 10px
.add-ingr__text
	color #aaadb2
	font-family Gotham
	@extend .type--md
.add-ingr__list
	f()
	fw()
	align-items: center
.add-ingr__el
	+below(480px)
		width: 100%
		margin-right: 0
		fl()
		padding: 15px 0
		height: auto
	flex(between)
	cp()
	tr(all)
	height: 40px
	border 1px solid $border-color
	margin-right: 20px
	margin-bottom: 20px
	overflow: hidden
	user-select: none
	&:hover
		bsh()
	.incr__nav
		display: none
	.incr__val
		display: none
.add-ingr__el--active
	border 1px solid $mark
	position relative
	.add-ingr__el-img
		display: none
	.incr__nav
		display: flex
		border-color $mark
		size 40px
		br(0)
		&:hover
			.icon
				fill black
		.icon
			fill black
	.incr__val
		+below(480px)
			margin-left: 0
		display: flex
		margin-left: 15px
		width: 35px
	.incr__minus
		+below(480px)
			position absolute
			left: 20px
			top calc(50% - 20px)
		margin-left: -1px
	.incr__plus
		+below(480px)
			position absolute
			right: 20px
			top calc(50% - 20px)
		margin-right: -1px
.incr__val-count
	margin-left: 5px
.add-ingr__el-img
	round()
	bg-full()
	size 40px
	border 1px solid $border-color
.add-ingr__el-name
	+below(480px)
		margin: 10px 0
		max-width 150px
		text-align center
		line-height: 1.5
	@extend .type--md
	color black
	margin: 0 0 0 15px
.add-ingr__el-weight
	+below(480px)
		margin: 0
		margin-bottom: 10px
	@extend .type--md
	color $gray
	margin: 0 0 0 15px
.add-ingr__el-price

	color #1b2230
	@extend .type--md
	font-weight 700
	margin: 0 15px

.add-ingr-footer
	+below(768px)
		fl()
		flex(mid)
	flex(between)
.add-ingr-cost
	+below(768px)
		margin-bottom: 20px
	+below(480px)
		fl()
		flex(mid)
	f()
	align-items: center
.add-ingr-cost__text
	+below(480px)
		margin-right: 0
		margin-bottom: 10px
	@extend .type--md
	margin-right: 10px
.add-ingr-cost__val
	+below(480px)
		margin-right: 0
		margin-bottom: 10px
	font-size 24px
	font-weight 700
	color black
	margin-right: 15px
.add-ingr-item
	@extend .type--md
.add-ingr-clear
	+below(768px)
		margin-left:initial
		margin-right: 0
		margin-bottom: 20px
	+below(480px)
		width: 100%
	@extend .btn--md
	@extend .btn--light
	margin-left: auto
	margin-right: 15px
.add-ingr-get
	+below(480px)
		width: 100%
	@extend .btn--md
	@extend .btn--mark
	width: 200px

//modal ingr ===end

// ==== MODAL ==== === end

.text
	p
		+below(768px)
			margin-bottom: 20px
		margin: 0
		margin-bottom: 40px
		line-height: 1.6
	ul
		margin: 30px 0
		li
			margin-bottom: 20px


.modal-text
	margin-bottom: 20px
	line-height: 1.6
	text-align center
.btn--full
	width: 100%
	text-align center
	display block
	padding: 12px 15px
.modal--md
	+below(640px)
		width: 95%
		margin: 20px auto
	width: 320px

.position-list
	max-height 300px
	position relative
.position-list__el
	display block
	margin-bottom: 20px

.unworked-img
	flex(mid)

.unworked-text
	width: 80%
	margin: 0 auto 20px auto
	line-height: 1.6
	text-align center
	
// LK
.lk
	+below(740px)
		fw()
	f()
	justify-content space-between
	margin-top: 30px
.lk-toolbar
	+below(740px)
		width: 100%
		margin-bottom: 30px
	width: 25%
.lk-toolbar__el
	+below(740px)
		width: 100%
	padding: 20px 25px
	border 1px solid $border-color
	margin-bottom: 5px
	br(4px)
	tr()
	f()
	align-items center
	font-weight: 700
	&:hover
		background: $mark
		color white
		.bonus-val
			color white
.lk-toolbar__el--active
	background: $mark
	.bonus-val
		color white
.lk-toolbar__el-text
	margin-right: 10px
.bonus-val
	color $mark
	@extend .type--xs
	font-weight 700
	transform translateY(-10px)
.lk-content
	+below(740px)
		width: 100%
	width: 70%
.lk-title
	@extend .type--xl
	font-weight 700
	letter-spacing 0.8px
	margin-bottom: 40px
	up()
.lk-profile
	+below(740px)
		width: 100%
	+below(640px)
		fw()
	f()
	justify-content space-between
	align-items:flex-start

.lk-profile-info
	+below(740px)
		width: 100%
	width: 60%
.lk-profile-info__el
	margin-bottom: 30px
.lk-profile-info__el-title
	margin-bottom: 10px
	font-weight: 700
//.lk-profile-info__el-val
.lk-profile-nav
	+below(740px)
		width: 100%
		margin-top: 20px
	+below(640px)
		padding: 0
		border-left 0
	width: 40%
	padding: 20px 0 20px 25px
	border-left 1px solid $border-color
.lk-profile-nav__el
	f()
	tr()
	cp()
	align-items center
	margin-bottom: 20px
	&:last-child
		margin-bottom: 0
	&:hover
		color $mark
.lk-profile-nav__el-icon
	margin-right: 20px
	.icon
		size 20px
		fill $mark
//.icon
//.lk-profile-nav__el-text

//.history
.history__el
	margin-bottom: 20px
.history__el-head
	+below(640px)
		fw()
	f()
	cp()
	padding: 20px
	justify-content space-between
	border 1px solid $border-color
.history__el-head--active
	background: $mark
	border 0
	.history__el-icon
		.icon
			transform rotate(180deg)
.history__el-info
	+below(640px)
		width: 100%
		margin-bottom: 10px
	f()
	align-items center
.history__el-icon
	margin-right: 10px
	.icon
		tr()
		size 16px
		fill black
.history__el-numb
	font-weight:700
	margin-right: 20px
.history__el-date
	color black-light
.history__el-state
	+below(640px)
		width: 100%
		margin-left: 0
	f()
	margin-left auto
	align-items center
.history__el-state-text
	+below(640px)
		display none
	@extend .type--xs
	color black-light
.history__el-state-val
	f()
	align-items center
.history__el-state-icon
	.icon
		+below(640px)
			margin-left: 0
		size 20px
		fill black
		margin: 0 10px
.history__el-state-info
	font-weight: 700
.history__el-cont
	padding: 30px 0
	display none
.history__el-wrap
	+below(1024px)
		fw()
	f()
	justify-content space-between
.history-list
	+below(1024px)
		width: 100%
		margin-bottom: 20px
	width: 65%
.history-list__el
	f()
	justify-content space-between
	align-items:flex-start
	padding-bottom: 15px
	margin-bottom: 15px
	border-bottom 1px solid $border-color
.history-list__el-img
	+below(480px)
		size 90px
	size 130px
	bg-full()
	background-size contain
.history-list__el-info
	+below(480px)
		width calc(100% - 100px)
	width calc(100% - 150px)
	padding: 10px
.history-list__el-title
	+below(480px)
		font-size: 16px
	@extend .type--md
	font-weight 700
	letter-spacing 0.6px
	margin-bottom: 20px
	up()
	line-height: 1.6
.history-list__el-row
	flex(between)
.history-list__el-cost
	+below(480px)
		font-size: 16px
	@extend .type--md
.history-list__el-items
	+below(480px)
		font-size: 16px
	@extend .type--md
.history-list__el-total
	+below(480px)
		font-size: 16px
	@extend .type--md
	font-weight: 700
.history-total
	f()
	margin-top: 30px
.history-total-info
	+below(480px)
		width: 100%
		margin-left: 0
		flex(mid)
		fl()
	bg-full()
	margin-left auto
	padding: 20px 40px
	border 1px solid $mark
	br(4px)
.history-total-title
	@extend .type--md
.history-total-val
	@extend .type--xl
	font-weight 700

.history-descr
	+below(1024px)
		width: 100%
	width: 30%
.history-descr-title
	font-weight:700
	margin-bottom: 30px
.history-descr__row
	margin-bottom: 20px
.history-descr__title
	@extend .type--sm
	color $mark
	line-height: 1.6
	font-weight: 700
.history-descr__val
	line-height: 1.6
//.btn--md
//.btn--mark

.bonus-head
	+below(1024px)
		fw()
	f()
	justify-content space-between
	align-items:flex-start
	margin-bottom: 30px
.bonus-banner
	+below(1024px)
		margin-bottom: 20px
	+below(480px)
		width: 100%
.bonus-banner-wrap
	+below(480px)
		width: 100%
	width: 280px
	padding: 25px
	background: $mark
	text-align center
	color white
	br(4px)
//.bonus-banner__text

.bonus-banner__val
	@extend .type--xxl
	font-weight 700
	margin: 10px 0
.bonus-banner-descr
	text-align center
	color black-light
	margin-top: 20px
.bonus-info
	+below(1024px)
		width: 100%
	width calc(100% - 300px)

.lk-adress__el
	padding: 25px
	border 2px solid $mark
	margin-bottom: 30px
.lk-adress__type
	color $mark
	@extend .type--md
	font-weight 700
	margin-bottom: 10px
.lk-adress__val
	line-height: 1.8
	margin-bottom: 20px
.lk-adress-footer
	flex(between)
.lk-adress-footer__el
	flex(mid)
	cp()
	&:hover
		span
			color black
	.icon
		margin-right: 10px
		size 16px
	span
		tr(all)
		display: inline-block
		color $gray
.lk-adress-edit
	.icon
		fill $mark
.lk-adress-remove
	.icon
		fill $red

.lk-adress__add
	flex(mid)
	tr(all)
	cp()
	height: 50px
	border 1px solid $snow
	&:hover
		border 1px solid $mark
		span
			color black
	.icon
		size 16px
		fill $mark
		margin-right: 10px
	span
		color $gray
		tr(all)
//.text
//.bonus-content
// LK === end

.modal
	transform none
	opacity: 0
	left -9999px
.modal__show
	opacity: 1
	left 0

.datepicker
	z-index 9999

.datepicker--day-name
	color $mark

.datepicker--cell.-current-
	color black
	font-weight: 700

.datepicker--cell.-selected-
	background: $mark!important
	font-weight: 700!important
	color black

.item-content
	+below(768px)
		max-width: 100%
	max-width 400px

// ==== SALE ====
.card-list
	+below(850px)
		grid-template-columns repeat(2, 1fr)
		margin-bottom: 40px
	+below(640px)
		grid-template-columns 1fr
		grid-gap 10px
	display: grid
	grid-gap 30px
	grid-template-columns repeat(3, 1fr)
.card-list__el
	overflow: hidden
	cp()
	&:hover
		.card-list__title
			color $mark
.card-list__img
	padding: 40% 10%
	bg-full()
	position: relative
	overflow: hidden
	br(4px)
.card-list__date
	position: absolute
	left 0
	display: inline-block
	bottom 0
	background: rgba(0, 0, 0, 0.6)
	color white
	font-size: 14px
	z-index 5
	padding: 10px 20px
.card-list__info
	padding: 20px 0
.card-list__title
	@extend .type--lg
	tr()
	font-weight: 600
	margin-top: auto
	line-height: 1.4
	margin-bottom: 20px
	display: inline-block
.card-list__decr
	line-height: 1.6

.news-full
	+below(768px)
		fw()
	f()
	align-items: flex-start
	justify-content: space-between
.news-full__img
	+below(768px)
		width: 100%
		margin-bottom: 20px
		padding: 30% 10%
	bg-full()
	br(4px)
	width: 48%
	overflow: hidden
	padding: 24% 10%
.news-full__cont
	+below(768px)
		width: 100%
	width: 45%
// ==== SALE ==== === end

// REVIEW

.title-row--mid
	+below(1024px)
		flex(mid)
		fl()
	.title-row__text
		+below(1024px)
			text-align: center
	.lk-switch
		+below(1024px)
			flex(mid)
.title-date
	+below(1024px)
		margin-top: 20px

	padding: 10px 20px
	border 1px solid $border-color
	border-radius 0 10px 0 10px
	font-weight: 600
	color $gray
.title-row__back
	+below(1024px)
		display: none

	flex(mid)
	margin-right: 40px
	.icon
		&:hover
			fill darken($red,20)
		size 64px
		fill $red
		tr(all)
.title-row__text
	+below(1024px)
		width: 100%
		margin-right: 0
	@extend .type--xxl
	font-weight 700
	margin: 0 40px 0 0
	letter-spacing 0.72px

.review-add
	+below(1024px)
		width: 100%
		margin-top: 20px

.review
	+below(640px)
		grid-template-columns: 1fr
	display: grid
	grid-gap 20px
	grid-template-columns: repeat(2, 1fr)
	column-gap 40px
.review__el
	+below(640px)
		padding: 20px
	background: #f8f8f8
	padding: 30px
	display: inline-block
	width: 100%
	br(10px)
.review__el-head
	f()
	margin-bottom: 10px
.review__el-icon
	+below(640px)
		margin-right: 15px
	margin-right: 30px
	.icon
		+below(640px)
			size 30px
		size 50px
		fill $gray
.review__el-icon--true
	.icon
		fill $yellow
//.review__el-info
.review__el-name
	color $dark
	@extend .type--md
	font-weight 700
	margin-bottom: 10px
.review__el-date
	color $gray
	font-weight 300
.review__el-text
	+below(640px)
		padding-left: 0
	padding-left: 80px
	line-height: 1.8

.loader
	flex(mid)
	margin: 20px 0
// REVIEW === end

.like-row
	flex(mid)
	margin-bottom: 20px
.like-el
	flex(mid)
	br(5px)
	cp()
	tr(all)
	border 1px solid $border-color
	padding: 20px
	margin: 0 10px
	&:hover
		border-color $green
	.icon
		size 35px

.like-el--true
	fill $mark
.like-el--false
	fill $gray

.like-el--true.like-el--active
	border 1px solid $mark
	background: $mark
	.icon
		fill white

.like-el--false.like-el--active
	border 1px solid $red
	background: $red
	.icon
		fill white

.lk-switch
	+below(1024px)
		margin-left 0
		margin-top: 30px
	+below(640px)
		width: 100%
	f()
	br(30px)
	margin-left: auto
	overflow: hidden
.lk-switch__el
	+below(640px)
		padding: 15px
		width: 100%
		font-size: 12px
	cp()
	tr(all)
	color black
	background: #f8f8f8
	text-align: center
	padding: 15px 35px
	position: relative
	border-right 1px solid #e3e3e3
	display: block
	font-size: 14px
	&:hover
		background: $mark
	&:last-child
		border 0
.lk-switch__el-val
	position: absolute
	color $mark
	top 8px
	right: 10%
	font-size: 10px
.lk-switch__el--active
	background: $mark
	color white

// ==== REST ====
.restaurant
	+below(960px)
		grid-gap 20px
		grid-template-columns: repeat(auto-fill, minmax(18rem,1fr))
	display: grid
	grid-gap 50px
	//grid-template-columns: repeat(5, 1fr)
	grid-template-columns: repeat(auto-fill, minmax(22rem,1fr))
.restaurant-item__img
	bg-full()
	padding: 30% 10%
	display: block
	position: relative
	br(4px)
.restaurant-item__date
	position: absolute
	padding: 10px 15px
	background: rgba(255, 255, 255, 0.75)
	bottom 0
	left 0
.restaurant-item__cont
	padding-top: 20px
.restaurant-item__title
	@extend .type--lg
	font-weight 600
	line-height: 1.6
	margin-bottom: 10px
	display: block
.restaurant-item__time
	color $gray
	line-height: 1.8
	margin-bottom: 5px
	&:last-child
		margin-bottom: 0
// ==== REST ==== === end

// ==== REST FULL
.cafe-item
	+below(768px)
		fw()
	f()
	justify-content: space-between
	margin-bottom: 50px
.cafe-item__img-wrap
	+below(768px)
		width: 100%
		margin-bottom: 10px
	width: 55%
.cafe-item__img-el
	+below(768px)
		margin-bottom: 20px
	bg-full()
	padding: 30% 10%
	br(4px)
.cafe-item__cont
	+below(768px)
		width: 100%
		padding: 0 10px
	width: calc(45% - 40px)
.cafe-item__title
	+below(1024px)
		font-size: 28px
	+below(768px)
		font-size: 24px
	+below(640px)
		margin-bottom: 10px
		font-size: 20px
	color $dark
	@extend .type--lg
	font-weight 700
	margin-bottom: 20px
.cafe-item__time
	+below(640px)
		margin-bottom: 20px
	color #aaadb2
	margin-bottom: 20px
	span
		display: inline-block
		margin-bottom: 10px
		margin-right: 20px
.cafe-item__phone
	display: block
	color $dark
	@extend .type--lg
	font-weight: 700
	margin-bottom: 10px
.cafe-item__phone-text
	margin-bottom: 50px

.cafe-item__text
	+below(768px)
		margin: 0
	padding-right: 20px
.cafe-item__adv
	f()
	margin-bottom: 20px
.cafe-item__adv-icon
	.icon
		fill $yellow
		size 28px
		margin-right: 20px
//.icon
.cafe-item__adv-text
	@extend .type--md

.cafe-get
	@extend .btn--lg
	@extend .btn--light
	margin: 20px 0
	padding: 15px 40px
	font-weight: 700
// ==== REST FULL === end

// ==== LOCATION ====
.location
	+below(640px)
		margin-left: -10px
		width calc(100% + 20px)
		margin-bottom: 0
	f()
	align-items: stretch
	margin-bottom: 100px
	.ps__scrollbar-y-rail
		background-color #eaeaea !important
		opacity 1!important
	.ps > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y, .ps > .ps__scrollbar-y-rail:active > .ps__scrollbar-y
		width: 10px!important
	.ps > .ps__scrollbar-y-rail
		width: 14px!important
		background-color #f6f6f6!important
		opacity 1!important
	.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y
		width: 10px!important

.location-list
	+below(960px)
		width: 40%
	+below(640px)
		display: none
	width: 30%
	max-height 700px
	position: relative
	border 1px solid $border-color
	border-right 0
.location-info
	+below(960px)
		width: 60%
	+below(640px)
		width: 100%
		min-height 500px
	max-height 700px
	width: 70%
	padding: 15% 10%
	background: $snow

.location__el
	+below(1200px)
		padding: 20px
	padding: 20px 40px
	border-top 1px solid $border-color
	display: block
	background: white
	tr(all)
	&:hover
		background: #f8f8f8
	&:last-child
		border-bottom 1px solid $border-color

.location__el-name
	+below(1200px)
		font-size: 18px
	color $dark
	@extend .type--lg
	font-weight 500
	margin-bottom: 10px
	line-height: 1.6
.location__el-time
	color $gray
	line-height: 1.8
	margin-bottom: 5px
	&:last-child
		margin-bottom: 0
// ==== LOCATION ==== === end

.nav
	+below(1024px)
		display none
	position relative
.nav-toggle
	f()
	align-items center
	justify-content center
	padding: 10px 20px
	background: $mark
	br(10px)
	.icon
		size 24px
		fill white
		margin-right: 20px
	span
		color white
		font-size: 18px

.nav-wrap
	position absolute
	top 100%
	left 0
	z-index 10
	border 1px solid $border-color
	overflow-x: visible
	background: white
.nav-el
	&:hover
		.nav-sub
			display block
	.icon
		size 10px
		fill $gray
		flex(mid)
.ps-container > .ps-scrollbar-x-rail,.ps-container > .ps-scrollbar-y-rail
	opacity: 0.6!important
.nav-box
	padding: 20px 0
	max-height: 400px
	overflow-y scroll
.nav-el__cont
	f()
	justify-content space-between
	align-items center
	padding: 10px 30px
	cp()
	tr()
	background: white
	width: 300px
	&:hover
		color white
		background: $mark
	& > span
		font-weight: 700
		white-space nowrap
		text-overflow ellipsis
		overflow hidden
		display block

.nav-sub
	position absolute
	left 300px
	top 0
	background: white
	display none
	padding: 10px 0
	border 1px solid $border-color
	width: 300px
	height 400px



.nav-sub__el
	padding: 10px 30px
	color black!important
	display block
	&:hover
		background: $mark
		color white!important
.basket-add__el
	br(10px)
	margin-left: 10px
	width: 225px
	height: 125px
	border 1px solid $border-color
	padding: 15px
	&:last-child
		margin-right: 0

.basket-add
	position relative
	margin-top: 20px
	&:before
		content ''
		position absolute
		width: 30px
		height: 100%
		bottom 0
		right 0
		background-image linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 100%)
		z-index 10
	.slick-prev[aria-disabled="true"]
		display none!important
	.slick-arrow
		fill #626466
		size 16px
	.slick-prev
		left 10px
		z-index 10
	.slick-next
		right 10px
		z-index 10
.basket-add-info
	f()
	height: 100%
.basket-add__img
	size 70px
	bg-full()
	margin-right: 10px
.basket-add-cont
	width calc(100% - 80px)
	f()
	fl()
.basket-add-title
	font-size: 12px
	font-weight: 700
	color black
	margin-bottom: 10px
.basket-add-cost
	font-size: 12px
	font-weight: 700
	margin-bottom: 5px
.basket-add-get
	margin-top: auto
	@extend .btn--light
	@extend .btn--sm
	color $mark
	width: 85px

.slider-control
	size 14px

.item-ingr
	+below(1024px)
		display: none !important
	margin-bottom: 10px
	transition all .8s
.item-ingr--dark
	background: #F5F5F5
	padding: 20px
	br(10px)

.item-ingr__text
	margin-bottom: 10px
.item-ingr__cont
	flex(between)
.item-ingr__el
	flex(mid)
	fl()
.item-ingr__el-val
	font-size: 16px
	font-weight:700
	margin-bottom: 5px

.product-box
	+below(1024px)
		height: auto !important
	height: 90px

.product-el--add
	size 30px
	round()
	flex(mid)
	position absolute
	top: 0
	right: 0
	background: #373A48
	z-index 10
	.icon
		fill white
		size 16px

.product-sale
	bg-full()
	padding: 20% 10%
	br(10px)
	overflow hidden

//

.order__el-info
	+below(768px)
		fl()
		justify-content center
		align-items center
	f()
	align-items: flex-start

.order__el
	+below(768px)
			fw()
			flex(mid)
			fl()
			position: relative
	display flex!important
	flex(between)
	padding: 10px 0
	outline none!important

.order__img
	+below(768px)
			margin-right: 0
			height: 100px
			width: 100px
	size 70px
	br(5px)
	bg-full()
	background-size: contain
	margin-right: 20px

/*.order__name
	font-weight: 700
	font-size: 14px
	margin-bottom: 5px
	display block*/

.order__name-text
	+below(768px)
			font-size: 20px
			margin-bottom: 20px
			text-align: center
	@extend .type--lg
	tr()
	margin-bottom: 5px
	font-weight 700
	color $dark
	display block
	&:hover
			color $mark
.order__adds
	+below(768px)
		width: 100%
		text-align center
.order__adds-el
	+below(768px)
			margin-bottom: 10px
			text-align: center

	cp()
	margin-top: 5px
	display: inline-block
	margin-right: 5px

//.order__inc
.order__price
	+below(768px)
		margin: 20px 0
		font-size: 20px
		margin-right:initial
		text-align center
	font-weight 700
	@extend .type--lg
	white-space nowrap
	margin-right: auto
.order__delete
	+below(768px)
		position absolute
		top 0
		right: 0
	margin-left: auto
	.icon
		cp()
		tr(all)
		size 16px
		fill black
		&:hover
				fill $mark
.order__el-change
	+below(768px)
		width: 100%
		fl()
	f()
	align-items center
	width: 50%