include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.main-cont

			.lk
				.lk-toolbar
					a(href="#").lk-toolbar__el Личные данные
					a(href="#").lk-toolbar__el История заказов
					a(href="#").lk-toolbar__el.lk-toolbar__el--active
						.lk-toolbar__el-text Бонусы
						.bonus-val 240Б
				.lk-content
					h1.lk-title Бонусы
					.bonus-head
						.bonus-banner
							.bonus-banner-wrap
								.bonus-banner__text на вашем счету
								.bonus-banner__val 240
								.bonus-banner__text бонусных баллов
							.bonus-banner-descr 1 бонусный балл = 1 рубль
						.bonus-info.text
							p Бонусными баллами можно оплатить до 50% от стоимости вашего заказа. Для этого нужно при оформлении заказа выбрать количество баллов, которые вы готовы потратить.
							p Бонусные баллы не начисляются на акционные товары.
					.bonus-content.text
						h3 Что это значит?

						p Еда, приготовленная с душой, всегда только свежие продукты, увлечённые своим делом повара, интересное и разнообразное меню для гурманов и ценителей классики — мы предлагаем попробовать блюда разных кухонь мира и оценить преимущества.

						p Если хочется заказать еду с доставкой домой или в офис, заходите на к нам в кафе по адресу.

						p Повара  готовят по традиционным и классическим рецептам, а также воплощают собственные кулинарные идеи. Мы постоянно растём и развиваемся, добавляя в меню новые интересные позиции и совершенствуя условия обслуживания, будь то доставка готовой еды на дом клиенту или в офис для корпоративного праздника.
						h3 На что можно потратить баллы?

						p SEO-текст. Это как старый друг, проверенный годами, ведь на рынке они очень давно. Кроме того, они были одними из первых, у кого появилась служба доставки в столице еще в 2001 году. Теперь это одна из самых больших сетей пиццерий в Киеве и Чернигове — у них целых 13 ресторанов. Кроме того, у заведения очень демократичные цены и много начинки.

						p Пиццу здесь готовят из отборный продуктов, что явно не может не радовать. И, несмотря на то, что тесто готовят по традиционному неаполитанскому рецепту, у них есть интересная фишка. Это, так званое, сочетание классики и авангарда — к примеру, есть пиццы с морепродуктами, с корнишонами, каперсами и с экзотическими продуктами. В День рождение в ресторанах Mamamia вам вернут 100% от счета на бонусный счет.
+footer()
include ./block_html/_script.pug
