include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.main-cont

			.title-row
				.title-row__text Кафе на карте
				.lk-switch
					.lk-switch__el Списком
					.lk-switch__el.lk-switch__el--active На карте
			.location
				.location-list.scroll
					- for (var i=0;i<14;i++)
						a(href="#").location__el
							.location__el-name ул. Тимонина, д. 29
							.location__el-time 11:00 - 24:00 (Вс - Чт)
							.location__el-time 11:00 - 01:00 (Пт - Сб)
				.location-info
					//положи карту сюда .location-map
					.location-map
	+footer()
include ./block_html/_script.pug
