-
	pages = [
		{
		'name':'Элементы',
		'href':'elements'
		},
		{
			'name':'Главная',
			'href':'main'
		},
		{
			'name':'Каталог',
			'href':'catalog'
		},
		{
			'name':'Карточка товара',
			'href':'item'
		},
		{
			'name':'Заказ',
			'href':'order'
		},
		{
			'name':'Форма',
			'href':'form'
		},
		{
			'name':'О компании',
			'href':'about'
		},
		{
			'name':'ЛК Профиль',
			'href':'lk-profile'
		},
		{
			'name':'ЛК История заказов',
			'href':'lk-history'
		},
		{
			'name':'ЛК бонусные балы',
			'href':'lk-bonus'
		},
		{
			'name':'Политика',
			'href':'politic'
		},
		{
			'name': 'Новости список',
			'href': 'news-list'
		},
		{
			'name': 'Новости подробная',
			'href': 'news-item'
		},
		{
			'name': 'Скидки список',
			'href': 'sale-list'
		},
		{
			'name': 'Скидки подробная',
			'href': 'sale-item'
		},
		{
			'name':'Модальные окна',
			'href':'modal'
		}
	]

